body{
	background-color: white;
}
#header-nav{
	background-color: grey;
	border: 1px solid black;
	border-radius: 0;
}
.navbar-brand p{
	color: black;
}
.navdesing{
	background-color: white;
	text-align: center;
	border: 1px solid black;
}
#nav-list{
	margin: 0px;
}
#box{
	padding: 0px;
}
#inbox{
	margin:5px;
	background-color: grey;
	border:1px solid black;
}
#title1{
	background: red;
	border: 1px solid black;
	float: right;
}
#title2{
	background: yellow;
	border: 1px solid black;
	float: right;
}#title3{
	background: blue;
	border: 1px solid black;
	float: right;
}
#content{
	clear:right;
}
#collapsable-nav{
	padding: 0px;
}